<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhyarrow.webService.dao.FileMapper">
	<resultMap type="com.jhyarrow.webService.entity.FileEntity" id="FileMap"
		extends="com.jhyarrow.webService.dao.BaseMapper.BaseMap">
		<id column="file_id" property="fileId" jdbcType="VARCHAR"/>
		<result column="file_name" property="fileName" jdbcType="VARCHAR"/>
		<result column="file_size" property="fileSize" jdbcType="VARCHAR"/>
		<result column="pic_count" property="picCount" jdbcType="INTEGER"/>
		<result column="file_type" property="fileType" jdbcType="VARCHAR"/>
		<association property="userEntity" 
		javaType="com.jhyarrow.webService.entity.UserEntity" column="user_id"
		select="com.jhyarrow.webService.dao.UserMapper.getUserById">
		</association>
		<collection property="picList" column="file_id"
		ofType="com.jhyarrow.webService.entity.PicEntity" 
		select="com.jhyarrow.webService.dao.PicMapper.getPics">
		</collection>
	</resultMap>
	
	
	<select id="getFiles" resultMap="FileMap" parameterType="string">
		select * from file
		where user_id = #{userId}
	</select>
	
	<select id="getFileById" resultMap="FileMap" parameterType="string">
		select * from file
		where file_id = #{fileId}
	</select>
	
	<insert id="addFile" parameterType="com.jhyarrow.webService.entity.FileEntity">
		insert into file(
			file_id,
			file_name,
			file_size,
			user_id,
			pic_count,
			create_time,
			last_modify,
			is_delete,
			file_type
		)
		values(
			#{fileId},
			#{fileName},
			#{fileSize},
			#{userId},
			#{picCount},
			NOW(),
			NOW(),
			#{isDelete},
			#{fileType}
		)
	</insert>
	
	<update id="editFileName">
		update file set file_name = #{1}
		where file_id = #{0}
	</update>
</mapper>