<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhyarrow.webService.dao.PicMapper">
	<resultMap type="com.jhyarrow.webService.entity.PicEntity" id="PicMap">
		<association property="fileEntity" javaType="FileEntity" column="file_id"
		select="com.jhyarrow.webService.dao.FileMapper.getFileById">
		</association>
	</resultMap>
	
	<select id="getPics" resultMap="PicMap" parameterType="string">
		select * from pic
		where file_id = #{fileId}
	</select>
</mapper>